.same{
    width: 300px;
}

.gallery{
    text-align: center;
    color: white;
    margin: 30px 0px;
}
body{
    
    background-image: url(image/download.jfif
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    

}
.parents{
display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
 
  padding: 10px;
  text-align: center;
  
   
  }


.text{
    text-align: center;
    color: white;
}